<div class="question">
  <span class="expression"><%= params[:question] %> </span>
  <br>
  <span> - You</span>
</div>

<div class="answer">
  <span class="expression"><%= @answer %> </span>
  <br>
  <span> - Coach</span>
</div>


<%= link_to "Ask a new question", ask_path %>
