<div class="your question">
  <span class="question"> @question </span>
  <span> - You</span>
</div>

<div class="coach answer">
  <span class="question"> @answer </span>
  <span> - Coach</span>
</div>
